.margin-sm {
  margin: $small-px;
}

.margin-md {
  margin: $medium-px;
}

.margin-bg {
  margin: $big-px;
}

.padding-sm {
  padding: $small-px;
}

.padding-md {
  padding: $medium-px;
}

.padding-bg {
  padding: $big-px;
}

.text-center {
  text-align: center;
}
.icon {
  width: 1em;
  height: 1em;
  
  &--color-ligth {
    fill: $color-light;
  }

  &--margin {
    margin: 0 15px;
  }
}

.video-placeholder {
  width: 100%;
  background: #000;
}

.video-facade {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}